<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jayce.boot.route.mapper.LibraryBookMapper" >
  <resultMap id="BaseResultMap" type="com.jayce.boot.route.entity.LibraryBook" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="book_id" property="bookId" jdbcType="BIGINT" />
    <result column="book_name" property="bookName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="testSql" resultType="java.lang.String">
    select * from library_book
    <where>
      <if test="bookId!=null">
        and book_id = #{bookId}
      </if>

      <if test="bookName!=null">
        and book_name = #{bookName}
      </if>
    </where>
  </select>
</mapper>